<% include shared/header.ejs %>
<!--<h1></h1>-->
<!--<p>Welcome to <%= message %></p>-->

<link rel="stylesheet" href="stylesheets/about.css">
<div class="container">
    <!-- nav ending -->


    <div id="jump"  class="jumbotron">



        <h1><spam><%= title %></spam> </h1>
        <br>

        <p><%=message%></p>
    </div>
    <div class="gallery">
        <hr>
        <h1>Gallery</h1>
        <hr>
        <div class="row">

            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="images/IMG-20170211-WA0003.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="images/IMG_0936.JPG" height="450px" width="350" class="img-thumbnail">
                </div>



            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="images/IMG-20170211-WA0002.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>



        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="images/17626464_1789530698031061_7899974627558464764_n.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="images/IMG_1181.JPG" height="340" width="350" class="img-thumbnail">
                </div>



            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">


                    <img src="/images/25659353_1930158833968246_2445062155671170687_n.jpg" class="img-thumbnail">
                </div>
            </div>
        </div>

    </div>
<% include shared/footer.ejs %>