<% include shared/header.ejs %>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= message %></p>-->

<link rel="stylesheet" href="about.css">
<div class="container">
    <!-- nav ending -->


    <div id="jump"  class="jumbotron">



        <h1><spam>Jaspreet Singh Brar</spam> Web Designer & Learner</h1>
        <br>

        <p>I am game lover who loves to play games and challenge his friends for dual.I am student of Interactive media design web, who loves the world of the web and want to learn more and more and believes that learning something new each day is worth living for. Moreover believes web creation is not just coding few programming lines, its more than that. I like meeting new people and cooking(which i learned for survival) </p>
    </div>
    <div class="gallery">
        <hr>
        <h1>Gallery</h1>
        <hr>
        <div class="row">

            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="IMG-20170211-WA0003.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="IMG_0936.JPG" height="450px" width="350" class="img-thumbnail">
                </div>



            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="IMG-20170211-WA0002.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>



        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="17626464_1789530698031061_7899974627558464764_n.jpg" height="340" width="350" class="img-thumbnail">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">

                    <img src="IMG_1181.JPG" height="340" width="350" class="img-thumbnail">
                </div>



            </div>
            <div class="col-lg-4">
                <div class="img-thumbnail">


                    <img src="25659353_1930158833968246_2445062155671170687_n.jpg" class="img-thumbnail">
                </div>
            </div>
        </div>

    </div>
<% include shared/footer.ejs %>