<% include shared/header.ejs %>
<!--Jaspreet Singh Brar's
 student number 200375562
 Express portfolio created with help of exprss and node.js-->

<link rel="stylesheet" href="stylesheets/home.css">
<div class="container">
    <!-- nav ending -->
    <div id="content">
        <h1><span><%=title%> </span></h1>
        <h3><span><%= message %></span></h3>
        <hr>
        <button class="btn btn-lg "><a class="nav-link" href="/about"><%=button%></a></button>
    </div>


</div>
<% include shared/footer.ejs %>