<!--Jaspreet Singh Brar's
 student number 200375562
 Express portfolio created with help of exprss and node.js-->

<% include shared/header.ejs %>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= message %></p>-->

// accordian used from get bootstrap

<link rel="stylesheet" href="stylesheets/skills.css">
<link rel="stylesheet" href="stylesheets/style.css">


<div class="container">
    <div class="skills">
        <!--start-study-section-->
        <!-- <div class="study-section"> -->
        <div class="container">
            <center>
                <div class="col-md-6 study-grid">
                    <h3>skills..<span>!</span></h3>
                    <div class="study2">
                        <h4>html</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (success)</span>
                            </div>
                        </div>
                        <h4>css</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                        <h4>js</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                <span class="sr-only">70% Complete (warning)</span>
                            </div>
                        </div>
                        <h4>php<h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                        <span class="sr-only">65% Complete (danger)</span>
                                    </div>
                                </div>
                    </div>
                    <h4>Bootstrap<h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">85% Complete (danger)</span>
                                </div>
                            </div>
                            <h4>jquery</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Complete (warning)</span>
                                </div>
                            </div>



            </center>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
</div>
</div>
<% include shared/footer.ejs %>