/*!*Jaspreet Singh brar*/
/*student id 200375562*/
/*project created with the help of node and express*/
.container
{
	margin-top: 5%;

}
.card h5
{
	
	color: rgb(0, 217, 220);
	font-family: 'Lobster Two', cursive;
}
footer
{
	margin-top:5%;
}